<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spring="" xmlns:el="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
   table {
    margin: auto; /* Выравниваем таблицу по центру */
    border: #ffba52;
   }
   a {
    text-decoration: none;
    color: #000 !important;
   }
   button {
    background: #ffe5b4; /*  цвет фона */
    color: #000; /*цвет текста */
    }
.exit button{
    background: #ffe5b4; /*  цвет фона */
   color: #000; /*цвет текста */
   margin-left: 285px;
   margin-top: 0.5%;
    }







    </style>
</head>
<body>
<h1 align="center">Редактирование пользователя</h1>
<table width="70%" border="1" cellspacing=2 cellpadding=15>

    <tr>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Email</th>
        <th>Password</th>
        <th>UserName</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>

    <tr>
        <div th:each="el:${usersEdit}">
            <form method="POST" modelAttribute="userForm">
                <td>
                    <input type="text" th:value="${el.name}" name="name">
                </td>
                <td>
                    <input type="text" th:value="${el.lastName}" name="lastName">
                </td>
                <td>
                    <input type="number" th:value="${el.age}" name="age">
                </td>
                <td>
                    <input type="text" th:value="${el.email}" name="email">
                </td>
                <td>
                    <input type="text" th:value="${el.password}" name="password">
                </td>
                <td>
                    <input type="text" th:value="${el.userName}" name="userName">
                </td>

                <td>
                    <input type="checkbox" name="vehicle" value="ROLE_ADMIN">Admin<br>
                    <input type="checkbox" name="vehicle" value="ROLE_USER" checked>User
                    <br><br>
                </td>
                <td>
                    <button><a>Save</a></button>
                </td>
            </form>
        </div>

    </tr>

</table>
<td>

    <div class="exit">
        <button formaction="/logout" class="btn btn-primary btn-block create-account" formmethod="get"
                type="submit"
                value="exit"><a href="/logout">Exit</a></button>
    </div>

</td>
</body>
</html>