<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spring="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
   table {
    margin: auto; /* Выравниваем таблицу по центру */
    border: #ffba52;
   }
   a {
    text-decoration: none;
    color: #000 !important;
   }
   button {
    background: #ffe5b4; /*  цвет фона */
    color: #000; /*цвет текста */

    }
    </style>
</head>
<body>
<table width="70%" border="1" cellspacing=2 cellpadding=15>

    <tr>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>


    <tr th:each="users, state : ${users}">
        <td th:utext="${users.name}">name</td>
        <td th:utext="${users.lastName}">lastName</td>
        <td th:utext="${users.age}">age</td>
        <td th:utext="${users.email}">email</td>
        <td>
            <form>
                <button><a th:href="@{/users/delete(userId=${users.id})}">Delete</a></button>
                <button><a th:href="@{/users/edit(userId=${users.id})}">Edit</a></button>
            </form>
        </td>

    </tr>

    <tr>
        <div>
            <div>
                <form method="POST" modelAttribute="userForm">
                    <td>
                        <input type="text" placeholder="name" name="name">
                    </td>
                    <td>
                        <input type="text" placeholder="lastName" name="lastName">
                    </td>
                    <td>
                        <input type="number" placeholder="age" name="age">
                    </td>
                    <td>
                        <input type="text" placeholder="email" name="email">
                    </td>
                    <td>
                        <button formaction="/users/add" formmethod="post" type="submit" value="Add">Add</button>
                    </td>
                </form>
            </div>
        </div>
    </tr>

</table>
</body>
</html>